<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li>
      <%= link_to 'Add a Record', new_record_path, :class => 'create_asset' %>
    </li>
  </ul>
</div>      
